doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // PAGE TITLE HERE
  title creditFirm Bank #{user.role} Dashboard
  // FAVICONS ICON
  link(rel='shortcut icon', type='image/png', href='images/favicon.png')
  link(href='vendor/jquery-nice-select/css/nice-select.css', rel='stylesheet')
  link(href='vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css', rel='stylesheet')
  link(href='vendor/jquery-autocomplete/jquery-ui.css', rel='stylesheet')
  // Style css
  link(href='css/style.css', rel='stylesheet')
//
  *******************
  Preloader start
  ********************
#preloader
  .inner
    span Loading 
    .loading
//
  *******************
  Preloader end
  ********************
//
  **********************************
  Main wrapper start
  ***********************************
#main-wrapper
  .animation
    span.circle.one
    span.circle.two
    span.circle.three
    span.circle.four
    span.line-1
      svg(width='1920', height='450', viewbox='0 0 1920 450', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(opacity='0.3', d='M0 155L95.4613 293.923C106.459 309.928 131.116 305.943 136.512 287.289L209.86 33.7127C215.892 12.8576 244.803 11.2033 253.175 31.2341L344.838 250.546C352.224 268.217 376.708 269.648 386.102 252.958L519.839 15.3693C529.061 -1.01332 552.975 -0.0134089 560.797 17.0818L716.503 357.389C724.454 374.766 748.899 375.43 757.782 358.51L902.518 82.8223C911.524 65.6685 936.406 66.653 944.028 84.4648L1093.06 432.731C1101.14 451.601 1128.01 451.247 1135.58 432.172L1291.33 39.9854C1298.27 22.5135 1322.1 20.2931 1332.14 36.1824L1473.74 260.126C1482.47 273.922 1502.38 274.494 1511.88 261.221L1667.88 43.3025C1678.17 28.9257 1700.16 31.0533 1707.5 47.1365L1844.91 348.06C1853.69 367.287 1881.58 365.486 1887.81 345.29L1970 79', stroke='url(#paint0_linear_332_3757)', stroke-opacity='0.4', stroke-width='6', stroke-linecap='round')
        defs
          
    span.line-2
      svg(width='1920', height='459', viewbox='0 0 1920 459', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M0 89L103.191 296.201C112.034 313.958 137.703 312.941 145.114 294.54L224.847 96.5574C232.264 78.141 257.962 77.1423 266.786 94.9275L352.649 267.995C360.863 284.553 384.264 285.148 393.31 269.03L516.226 50.0159C525.164 34.0902 548.205 34.4325 556.666 50.6167L713.497 350.608C721.71 366.318 743.86 367.222 753.326 352.234L901.462 117.684C911.188 102.286 934.102 103.763 941.771 120.282L1091.14 442.062C1099.38 459.816 1124.62 459.817 1132.86 442.064L1303.17 75.2544C1310.64 59.1685 1332.73 57.2308 1342.89 71.7713L1469.94 253.703C1479.15 266.893 1498.71 266.794 1507.78 253.511L1671.82 13.4627C1681.74 -1.05968 1703.63 0.478486 1711.42 16.2459L1844.42 285.267C1853.64 303.905 1880.89 301.723 1887.02 281.857L1970 13', stroke='url(#paint0_linear_332_3758)', stroke-opacity='0.4', stroke-width='6', stroke-linecap='round')
        defs
          lineargradient#paint0_linear_332_3758(x1='1946.24', y1='286.062', x2='-1.52105', y2='279.607', gradientunits='userSpaceOnUse')
            stop(offset='0', stop-color='#6E4AFF')
            stop(offset='0.479167', stop-color='#E43BFF')
            stop(offset='1', stop-color='#6E4AFF')
  //
    **********************************
    Nav header start
    ***********************************
  .nav-header
    .nav-control(style="display:flex; align-items: center;")
      h2.alias(style="margin-top: 10px;") CFirm
      .hamburger.hamburger2
        span.line
        span.line
        span.line
        svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='')
          path(opacity='0.4', d='M16.7548 0.333313H20.7051C22.341 0.333313 23.6667 1.67014 23.6667 3.31994V7.30359C23.6667 8.95339 22.341 10.2902 20.7051 10.2902H16.7548C15.1188 10.2902 13.7932 8.95339 13.7932 7.30359V3.31994C13.7932 1.67014 15.1188 0.333313 16.7548 0.333313Z', fill='white')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M3.29492 0.333313H7.24522C8.8812 0.333313 10.2068 1.67014 10.2068 3.31994V7.30359C10.2068 8.95339 8.8812 10.2902 7.24522 10.2902H3.29492C1.65894 10.2902 0.333313 8.95339 0.333313 7.30359V3.31994C0.333313 1.67014 1.65894 0.333313 3.29492 0.333313ZM3.29492 13.7097H7.24522C8.8812 13.7097 10.2068 15.0466 10.2068 16.6964V20.68C10.2068 22.3287 8.8812 23.6666 7.24522 23.6666H3.29492C1.65894 23.6666 0.333313 22.3287 0.333313 20.68V16.6964C0.333313 15.0466 1.65894 13.7097 3.29492 13.7097ZM20.705 13.7097H16.7547C15.1188 13.7097 13.7931 15.0466 13.7931 16.6964V20.68C13.7931 22.3287 15.1188 23.6666 16.7547 23.6666H20.705C22.341 23.6666 23.6666 22.3287 23.6666 20.68V16.6964C23.6666 15.0466 22.341 13.7097 20.705 13.7097Z', fill='white')
  //
    **********************************
    Nav header end
    ***********************************
  //
    **********************************
    Chat box start
    ***********************************
  .chatbox
    .chatbox-close
    .custom-tab-1
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link(data-bs-toggle='tab', href='#notes') Notes
        li.nav-item
          a.nav-link(data-bs-toggle='tab', href='#alerts') Alerts
        li.nav-item
          a.nav-link.active(data-bs-toggle='tab', href='#chat') Chat
  //
    **********************************
    Chat box End
    ***********************************
  //
    **********************************
    Header start
    ***********************************
  .header
    .header-content
      nav.navbar.navbar-expand
        .collapse.navbar-collapse.justify-content-between
          .header-left
            .dashboard_bar CreditFirm Bank #{user.role} Dashboard
          ul.navbar-nav.header-right
            li.nav-item.d-flex.align-items-start
          .dropdown.header-profile2
            ul.navbar-nav.header-right.me-sm-4
              li.nav-item.dropdown.notification_dropdown
                a.nav-link(href='d', role='button', data-bs-toggle='dropdown')
                  svg(width='20', height='21', viewbox='0 0 20 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M15.8333 11H17.5833C18.5498 11 19.3333 11.7835 19.3333 12.75C19.3333 13.7165 18.5498 14.5 17.5833 14.5H2.41666C1.45016 14.5 0.666656 13.7165 0.666656 12.75C0.666656 11.7835 1.45016 11 2.41666 11H4.16666L4.81798 5.13812C5.11136 2.49763 7.34325 0.5 9.99999 0.5C12.6567 0.5 14.8886 2.49763 15.182 5.13812L15.8333 11Z', fill='#B9A8FF')
                    path(opacity='0.3', d='M12.3333 18C12.3333 16.7114 11.2887 15.6667 9.99999 15.6667C8.71133 15.6667 7.66666 16.7114 7.66666 18C7.66666 19.2887 8.71133 20.3334 9.99999 20.3334C11.2887 20.3334 12.3333 19.2887 12.3333 18Z', fill='#B9A8FF')
                .dropdown-menu.dropdown-menu-end
                  #DZ_W_Notification1.widget-media.dz-scroll.p-3(style='min-height: 50px')
                    ul.timeline
                      -if(userNotification.length > 0)
                        each notification in userNotification
                          li
                            .timeline-panel
                              .media.me-2.media-info CF
                              .media-body
                                h6.mb-1
                                  a(href='#') #{notification.notification}
                                small.d-block #{notification.createdAt}
                      h4(style="margin: 30px 0 0 45px;") No Notifications Yet
                      
                  -if(user.role == "admin")
                    a.all-notification(href='/all-notifications')
                      | See all notifications 
                      i.ti-arrow-end
            a.nav-link.user-profile(href='d', role='button', data-bs-toggle='dropdown')
              .header-info2.d-flex.align-items-center
                img(src=`img/users/${user.photo}`)
                .d-flex.align-items-center.sidebar-info
                  .user-info
                    span.font-w500.d-block.fs-5.text-white= user.login
                    small.text-end.font-w400 #{user.role}
                  svg(width='14', height='8', viewbox='0 0 14 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M12.8334 1.08331L7.00002 6.91665L1.16669 1.08331', stroke='#FFFF', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .dropdown-menu.profile.dropdown-menu-end
              a.dropdown-item.ai-icon(href='/profile')
                svg.text-primary(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2')
                  circle(cx='12', cy='7', r='4')
                span.ms-2 Profile 
              a.dropdown-item.ai-icon
                svg.text-danger(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4')
                  polyline(points='16 17 21 12 16 7')
                  line(x1='21', y1='12', x2='9', y2='12')
                span.ms-2.nav__el--logout(style='cursor:pointer;') Logout 
  //
    **********************************
    Header end ti-comment-alt
    ***********************************
  //
    **********************************
    Sidebar start
    ***********************************
  
  .dlabnav
    .dlabnav-scroll
      ul#menu.metismenu
        li
          a.has-arrow(href='javascript:void()', aria-expanded='false')
            .menu-icon
              svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                g#IconlyHome
                  g#Home
                    path#Home_2(d='M9.13478 20.7733V17.7156C9.13478 16.9351 9.77217 16.3023 10.5584 16.3023H13.4326C13.8102 16.3023 14.1723 16.4512 14.4393 16.7163C14.7063 16.9813 14.8563 17.3408 14.8563 17.7156V20.7733C14.8539 21.0978 14.9821 21.4099 15.2124 21.6402C15.4427 21.8705 15.7561 22 16.0829 22H18.0438C18.9596 22.0023 19.8388 21.6428 20.4872 21.0008C21.1356 20.3588 21.5 19.487 21.5 18.5778V9.86686C21.5 9.13246 21.1721 8.43584 20.6046 7.96467L13.934 2.67587C12.7737 1.74856 11.1111 1.7785 9.98539 2.74698L3.46701 7.96467C2.87274 8.42195 2.51755 9.12064 2.5 9.86686V18.5689C2.5 20.4639 4.04738 22 5.95617 22H7.87229C8.55123 22 9.103 21.4562 9.10792 20.7822L9.13478 20.7733Z', fill='#130F26')
            span.nav-text Dashboard
          ul(aria-expanded='false')
            li
              a(href='/profile') My profile
            li
              a(href='/loan-apply') Apply For Loan
            li
              a(href='/order-card') Order Credit Card
            li
              a(href='#') Bill Payment
            li
              a(href='#') Loan / Bills History
            li
              a(href='/transaction-history') Transaction History
            li
              a(href='/insurance') Insurance Policy
            li
              a.nav__el--logout(style='cursor:pointer;') Logout
        -if(user.role === "admin")
          li
            a.has-arrow(href='javascript:void()', aria-expanded='false')
              .menu-icon
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.4', d='M2.00024 11.0785C2.05024 13.4165 2.19024 17.4155 2.21024 17.8565C2.28124 18.7995 2.64224 19.7525 3.20424 20.4245C3.98624 21.3675 4.94924 21.7885 6.29224 21.7885C8.14824 21.7985 10.1942 21.7985 12.1812 21.7985C14.1762 21.7985 16.1122 21.7985 17.7472 21.7885C19.0712 21.7885 20.0642 21.3565 20.8362 20.4245C21.3982 19.7525 21.7592 18.7895 21.8102 17.8565C21.8302 17.4855 21.9302 13.1445 21.9902 11.0785H2.00024Z', fill='#763ed0')
                  path(d='M11.2455 15.3842V16.6782C11.2455 17.0922 11.5815 17.4282 11.9955 17.4282C12.4095 17.4282 12.7455 17.0922 12.7455 16.6782V15.3842C12.7455 14.9702 12.4095 14.6342 11.9955 14.6342C11.5815 14.6342 11.2455 14.9702 11.2455 15.3842Z', fill='#763ed0')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M10.2114 14.5564C10.1114 14.9194 9.76237 15.1514 9.38437 15.1014C6.83337 14.7454 4.39537 13.8404 2.33737 12.4814C2.12637 12.3434 2.00037 12.1074 2.00037 11.8554V8.3894C2.00037 6.2894 3.71237 4.5814 5.81737 4.5814H7.78437C7.97237 3.1294 9.20237 2.0004 10.7044 2.0004H13.2864C14.7874 2.0004 16.0184 3.1294 16.2064 4.5814H18.1834C20.2824 4.5814 21.9904 6.2894 21.9904 8.3894V11.8554C21.9904 12.1074 21.8634 12.3424 21.6544 12.4814C19.5924 13.8464 17.1444 14.7554 14.5764 15.1104C14.5414 15.1154 14.5074 15.1174 14.4734 15.1174C14.1344 15.1174 13.8314 14.8884 13.7464 14.5524C13.5444 13.7564 12.8214 13.1994 11.9904 13.1994C11.1484 13.1994 10.4334 13.7444 10.2114 14.5564ZM13.2864 3.5004H10.7044C10.0314 3.5004 9.46937 3.9604 9.30137 4.5814H14.6884C14.5204 3.9604 13.9584 3.5004 13.2864 3.5004Z', fill='#B9A8FF')
              span.nav-text Admin Settings
            ul(aria-expanded='false')
              li
                a(href='/users') View All users
              li
                a(href='#') Mail Users
              

  //
    **********************************
    Sidebar end
    ***********************************
  //
    **********************************
    Content body start
    ***********************************
  .content-body
    // row
    .container-fluid
      .row
        .col-xl-9
          .row
              .card-header.border-0.flex-wrap
                h4.fs-18.font-w600 Your Balance Summary
                .d-flex.align-items-center
              .card-body.py-0.custome-tooltip
                .d-flex.align-items-center.flex-wrap.income
                  .d-flex.align-items-center.mb-2.me-3.arrow
                    .me-3
                      svg.theme-col(width='45', height='45', viewbox='0 0 52 52', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='26', cy='26', r='26', fill='var(--bs-body-bg)')
                        g(clip-path='url(#clip0)')
                          path(d='M34.9293 30.4004C34.9294 30.3966 34.9293 30.3927 34.9293 30.3889L34.9371 18.5152C34.9369 18.4212 34.9264 18.3275 34.906 18.2357L34.8284 17.9716L34.7507 17.8163L34.6653 17.7309C34.5585 17.5759 34.4243 17.4417 34.2693 17.3348L34.1916 17.2572L34.0984 17.164L33.8965 17.1019C33.783 17.0683 33.6654 17.0499 33.547 17.0475L21.6112 17.0708C20.8167 17.0676 20.17 17.7092 20.1668 18.5037C20.1668 18.5075 20.1668 18.5114 20.1668 18.5152C20.1853 19.3009 20.8178 19.9334 21.6035 19.9519L28.6935 19.9596C28.9967 19.9626 29.2402 20.2109 29.2372 20.5141C29.2358 20.6552 29.1802 20.7903 29.0818 20.8915L17.5187 32.4546C16.9568 33.0164 16.9568 33.9273 17.5186 34.4892C18.0804 35.0511 18.9913 35.0511 19.5532 34.4893C19.5533 34.4893 19.5533 34.4892 19.5534 34.4892L31.1164 22.9261C31.3338 22.7147 31.6815 22.7196 31.8929 22.937C31.9912 23.0382 32.0469 23.1733 32.0483 23.3144L32.0405 30.3889C32.0551 31.1805 32.6933 31.8188 33.4849 31.8333C34.2795 31.8365 34.9262 31.195 34.9293 30.4004Z', fill='white')
                        defs
                          clippath
                            rect(width='24', height='24', fill='white', transform='translate(26 9.02945) rotate(45)')
                    div
                      span.fs-14 Income
                      h4.fs-5.font-w600 $#{total}.00
                  .d-flex.align-items-center.ms-sm-2.mb-2.arrow
                    .me-3
                      svg(width='45', height='45', viewbox='0 0 52 52', fill='none', xmlns='http://www.w3.org/2000/svg')
                        circle(cx='26', cy='26', r='26', transform='rotate(-180 26 26)', fill='#5E3ED0')
                        g(clip-path='url(#clip0)')
                          path(d='M17.0707 21.5996C17.0706 21.6034 17.0707 21.6073 17.0707 21.6111L17.0629 33.4848C17.0631 33.5788 17.0736 33.6725 17.094 33.7643L17.1716 34.0284L17.2493 34.1837L17.3347 34.2691C17.4415 34.4241 17.5757 34.5583 17.7307 34.6652L17.8084 34.7428L17.9016 34.836L18.1035 34.8981C18.217 34.9317 18.3346 34.9501 18.453 34.9525L30.3888 34.9292C31.1833 34.9324 31.83 34.2908 31.8332 33.4963C31.8332 33.4925 31.8332 33.4886 31.8332 33.4848C31.8147 32.6991 31.1822 32.0666 30.3965 32.0481L23.3065 32.0404C23.0033 32.0374 22.7598 31.7891 22.7628 31.4859C22.7642 31.3448 22.8198 31.2097 22.9182 31.1085L34.4813 19.5454C35.0432 18.9836 35.0432 18.0727 34.4814 17.5108C33.9196 16.9489 33.0087 16.9489 32.4468 17.5107C32.4467 17.5107 32.4467 17.5108 32.4466 17.5108L20.8836 29.0739C20.6662 29.2853 20.3185 29.2804 20.1071 29.063C20.0088 28.9618 19.9531 28.8267 19.9517 28.6856L19.9595 21.6111C19.9449 20.8195 19.3067 20.1812 18.5151 20.1667C17.7205 20.1635 17.0738 20.805 17.0707 21.5996Z', fill='white')
                        defs
                          clippath
                            rect(width='24', height='24', fill='white', transform='translate(26 42.9706) rotate(-135)')
                    div
                      span.fs-14 Expense
                      h4.fs-5.font-w700 $#{expense}.00
          .col-xl-4
            .row
              .col-xl-12.col-lg-4.col-md-6
                .card.Expense.overflow-hidden
                  .card-body.p-4.p-lg-3.p-xl-4
                    .students1.one.d-flex.align-items-center.justify-content-between
                      .content
                        h2.mb-0 My account
                        span.mb-2.fs-14 #{user.accountType}
                        h5 #{user.accountNumber}
                      div
                        .d-inline-block.position-relative.donut-chart-sale.mb-3
                          svg(width='60', height='58', viewbox='0 0 60 58', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M39.0469 2.3125C38.3437 3.76563 38.9648 5.52344 40.418 6.22657C44.4609 8.17188 47.8828 11.1953 50.3203 14.9805C52.8164 18.8594 54.1406 23.3594 54.1406 28C54.1406 41.3125 43.3125 52.1406 30 52.1406C16.6875 52.1406 5.85937 41.3125 5.85937 28C5.85937 23.3594 7.18359 18.8594 9.66797 14.9688C12.0937 11.1836 15.5273 8.16016 19.5703 6.21485C21.0234 5.51173 21.6445 3.76563 20.9414 2.30079C20.2383 0.847664 18.4922 0.226569 17.0273 0.929694C12 3.34376 7.74609 7.09375 4.73437 11.8047C1.64062 16.6328 -1.56336e-06 22.2344 -1.31134e-06 28C-9.60967e-07 36.0156 3.11719 43.5508 8.78906 49.2109C14.4492 54.8828 21.9844 58 30 58C38.0156 58 45.5508 54.8828 51.2109 49.2109C56.8828 43.5391 60 36.0156 60 28C60 22.2344 58.3594 16.6328 55.2539 11.8047C52.2305 7.10547 47.9766 3.34375 42.9609 0.929693C41.4961 0.238287 39.75 0.84766 39.0469 2.3125V2.3125Z', fill='#53CAFD')
                            path(d='M41.4025 26.4414C41.9767 25.8671 42.258 25.1171 42.258 24.3671C42.258 23.6171 41.9767 22.8671 41.4025 22.2929L34.0314 14.9218C32.9533 13.8437 31.5236 13.2578 30.0119 13.2578C28.5002 13.2578 27.0587 13.8554 25.9923 14.9218L18.6212 22.2929C17.4728 23.4414 17.4728 25.2929 18.6212 26.4414C19.7697 27.5898 21.6212 27.5898 22.7697 26.4414L27.0939 22.1171L27.0939 38.7695C27.0939 40.3867 28.4064 41.6992 30.0236 41.6992C31.6408 41.6992 32.9533 40.3867 32.9533 38.7695L32.9533 22.1054L37.2775 26.4296C38.4025 27.5781 40.2541 27.5781 41.4025 26.4414Z', fill='#53CAFD')
              // --/column--
              // --column--
              .col-xl-12.col-lg-4.col-md-6
                .card
                  .card-body.p-4.p-lg-3.p-xl-4
                    .students1.two.d-flex.align-items-center.justify-content-between
                      .content
                        h2.mb-0 Available Balance
                        span.mb-2.fs-14 $ #{user.balance.toLocaleString()}.00
                        h5.fs-13 Balance since last transaction
              // --/column--
              // --column--
              .col-xl-12.col-lg-4.col-md-12
                .card.overflow-hidden
                  .card-body.p-4.p-lg-3.p-xl-4
                    .students1.three.d-flex.align-items-center.justify-content-between
                      .content
                        h2.mb-0 #{user.transactions+=userTransaction.length}
                        span.fs-14 Total Transactions
                      .newCustomers
                        .d-inline-block.position-relative.donut-chart-sale.mb-3
                          #NewCustomers
              // -/-column--
          
          
          div
            .card.tags.bg-transparent
              .card-header.border-0
                div
                  h4.font-w600.fs-18 Perform Actions
              div(style='\
              width: 100%;\
              display: flex;\
              ')
                div(style="width: 100%;display: flex;align-items: center;justify-content: space-between;")
                  a.tag(href='/transfer')
                    img.small-png(src='./images/png/money-transfer-svgrepo-com.png', alt='')
                    |                        Local Transfer
                  a.tag(href='/international')
                    img.small-png(src='./images/png/currency-exchange-svgrepo-com.png', alt='')
                    |                         International Transfer
                  a.tag(href='/airtime')
                    img.small-png(src='./images/png/smartphone-tablet-svgrepo-com.png', alt='')
                    |                         Airtime
                  a.tag(href='/loan-apply')
                    img.small-png(src='./images/png/mortgage-contract-svgrepo-com.png', alt='')
                    |                         Loans
                  -if(user.role == "admin")
                    a.tag(href='/fund')
                      img.small-png(src='./images/png/pay-svgrepo-com.png', alt='')
                      |                         Fund account

        

        .col-xl-4.col-lg-4.col-md-12
          .card
            .card-header.border-0.pb-4.arrow
              div
                h5.fs-18.font-w600 Account Summary
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h4.fs-24.font-w600.mb-0.d-inline-flex.me-2 $4,563
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                span.d-inline-flex.align-items-center
                  small.text-success.font-w500.me-1 +1.6%
                  |  than last week
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              svg.theme-col(width='45', height='45', viewBox='0 0 52 52', fill='none', xmlns='http://www.w3.org/2000/svg')
                rect(width='52', height='52', rx='26', fill='var(--bs-body-bg)')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                g(clip-path='url(#clip0)')
                  path(d='M17.0704 21.5996C17.0704 21.6034 17.0704 21.6073 17.0704 21.6111L17.0626 33.4848C17.0629 33.5788 17.0733 33.6725 17.0937 33.7643L17.1713 34.0284L17.249 34.1837L17.3344 34.2691C17.4413 34.4241 17.5755 34.5583 17.7305 34.6652L17.8081 34.7428L17.9013 34.836L18.1032 34.8981C18.2168 34.9317 18.3343 34.9501 18.4527 34.9525L30.3885 34.9292C31.183 34.9324 31.8297 34.2908 31.8329 33.4963C31.8329 33.4925 31.8329 33.4886 31.8329 33.4848C31.8144 32.6991 31.1819 32.0666 30.3962 32.0481L23.3062 32.0404C23.003 32.0374 22.7595 31.7891 22.7625 31.4859C22.7639 31.3448 22.8195 31.2097 22.9179 31.1085L34.481 19.5454C35.0429 18.9836 35.043 18.0727 34.4811 17.5108C33.9193 16.9489 33.0084 16.9489 32.4465 17.5107C32.4465 17.5107 32.4464 17.5108 32.4464 17.5108L20.8833 29.0739C20.6659 29.2853 20.3182 29.2804 20.1068 29.063C20.0085 28.9618 19.9528 28.8267 19.9514 28.6856L19.9592 21.6111C19.9447 20.8195 19.3064 20.1812 18.5148 20.1667C17.7202 20.1635 17.0735 20.805 17.0704 21.5996Z', fill='white')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                defs
                  clippath
                    rect(width='24', height='24', fill='white', transform='translate(25.9997 42.9706) rotate(-135)')
            | &#x9;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .card-body.py-2.custome-tooltip(style='position: relative;')
              #chartBarRunning.chartBarRunning(style='min-height: 215px;')
                  .apexcharts-legend(style='max-height: 100px;')
                  .apexcharts-tooltip.apexcharts-theme-light
                    .apexcharts-tooltip-title(style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                    .apexcharts-tooltip-series-group(style='order: 1;')
                      span.apexcharts-tooltip-marker(style='background-color: rgb(129, 108, 255);')
                      .apexcharts-tooltip-text(style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        .apexcharts-tooltip-y-group
                          span.apexcharts-tooltip-text-label
                          span.apexcharts-tooltip-text-value
                        .apexcharts-tooltip-z-group
                          span.apexcharts-tooltip-text-z-label
                          span.apexcharts-tooltip-text-z-value
                    .apexcharts-tooltip-series-group(style='order: 2;')
                      span.apexcharts-tooltip-marker(style='background-color: rgb(119, 36, 139);')
                      .apexcharts-tooltip-text(style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        .apexcharts-tooltip-y-group
                          span.apexcharts-tooltip-text-label
                          span.apexcharts-tooltip-text-value
                        .apexcharts-tooltip-z-group
                          span.apexcharts-tooltip-text-z-label
                          span.apexcharts-tooltip-text-z-value
                  .apexcharts-yaxistooltip.apexcharts-yaxistooltip-0.apexcharts-yaxistooltip-left.apexcharts-theme-light
                    .apexcharts-yaxistooltip-text
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              

        .col-xl-4.col-lg-4.col-md-6
          .card.student-chart
            .card-header.border-0.pb-0
              h4 We are always Live, Transactions ongoing
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .card-body.pt-0.custome-tooltip
              .chartjs-size-monitor
                .chartjs-size-monitor-expand
                  div
                .chartjs-size-monitor-shrink
                  div
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              canvas#activeUser.chartjs-render-monitor(style='display: block; width: 320px; height: 336px;', width='320', height='336')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;


        
    .bootstrap-carousel
      #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
        .carousel-indicators
          button.active(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
          | &#x9;&#x9;&#x9;
          button(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide-to='1', aria-label='Slide 2')
          | &#x9;&#x9;&#x9;
          button(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide-to='2', aria-label='Slide 3')
        | &#x9;&#x9;
        .carousel-inner
          .carousel-item.active
            img.d-block(src='assets/images/global-payment-img.png', alt='' style="height:300px; width:50%; margin: 0 auto;")
            | &#x9;&#x9;&#x9;&#x9;
            .carousel-caption.d-none.d-md-block
              h5 The feeling when you pay and recieve money at ease
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p Credit Firm Online banking becomes the first choice when you think of sending your money accross the Globe
          | &#x9;&#x9;&#x9;
          .carousel-item
            img.d-block(alt='', src='./images/big/onlinebanking.jpg' style="height:300px;width:50%; margin: 0 auto;")
            | &#x9;&#x9;&#x9;&#x9;
            .carousel-caption.d-none.d-md-block
              h5 Online Banking has never been easier
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p All transaction In one place
          | &#x9;&#x9;&#x9;
          .carousel-item
            img.d-block(alt='', src='assets/images/app-download-img.png' style="height:300px;width:50%; margin: 0 auto;")
            | &#x9;&#x9;&#x9;&#x9;
            .carousel-caption.d-none.d-md-block
              h5 International Transfers Included
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Sending money to friends family at the diaspora gets more intersting while you use the Credit firm banking app,Your worries, our problem 
        | &#x9;&#x9;
        button.carousel-control-prev(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          | &#x9;&#x9;&#x9;
          span.visually-hidden Previous
        | &#x9;&#x9;
        button.carousel-control-next(type='button', data-bs-target='#carouselExampleCaptions', data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          | &#x9;&#x9;&#x9;
          span.visually-hidden Next

        
          
// Required vendors
script(src='vendor/global/global.min.js')
script(src='vendor/chart.js/Chart.bundle.min.js')
script(src='vendor/jquery-nice-select/js/jquery.nice-select.min.js')
// Apex Chart
script(src='vendor/apexchart/apexchart.js')
// Chart piety plugin files
script(src='vendor/peity/jquery.peity.min.js')

script(src='vendor/chartist/js/chartist.min.js')
script(src='vendor/jquery-autocomplete/jquery-ui.js')
script(src='jss/dashboard/dashboard-1.js')
script(src='jss/custom.min.js')
script(src='jss/dlabnav-init.js')
script(src='jss/demo.js')
script(src='jss/styleSwitcher.js')

script(src='vendor/jquery-autocomplete/jquery-ui.js')
script(src='jss/custom.min.js')
script(src='jss/dlabnav-init.js')
script(src='jss/demo.js')
script(src='jss/styleSwitcher.js')
 // code-highlight
script(src='jss/highlight.min.js')
  | &#x9; 
script.
  hljs.highlightAll();
script(src='/js/bundle.js')
